# File ~/.nanorc ini untuk mengkonfigurasi editor text nano
# Sesuaikan dengan keinginan dan kebutuhan

# Untuk menampilkan syntax highlighting berdasarkan tipe file
include "/data/data/com.termux/files/usr/share/nano/*nanorc"

# Konfigurasi tampilan dan fungsi
set autoindent
set mouse
set multibuffer
set linenumbers
set tabstospaces
set tabsize 2
set constantshow
set casesensitive
set regexp
set smarthome
set matchbrackets (<[{)>]}
#set minibar
#set softwrap
#set stateflags

# Konfigurasi ubah shortcut
bind ^A mark all
bind ^Q exit all
bind ^Z undo all
bind ^Y redo all
bind ^S savefile all
bind ^W writeout all
bind ^/ comment main
bind Sh-M-C comment all
bind ^Space complete main
bind Sh-M-V complete main
bind ^C copy main
bind ^V paste main
bind ^X cut main
